.user-item{
  text-align: center;
  background: rgba(255,255,255,0.85);
  border: 1px solid #e8e8e8;
  padding: 6px 12px;
  cursor: pointer;
}

.user-item:hover,.selected{
  background: lightgray;
  color: black;
}

.list-view{
  max-height: 100vh;
  overflow-y: scroll;
}


